body {
  font-family: sans-serif;
}

.fieldset {
  display: block;
  margin-bottom: 1rem;
}

.label {
  display: block;
  margin-bottom: .25rem;
}

.formControl {
  margin-bottom: .5rem;
}

.label-inline {
  display: inline-block;
}
